.tasks-container{
    height: 100%;
    background-color: #e0e0e0;
    border-top: 2px solid #d3d3d3;

    
}

.left-lists{
    background-color: #f5f5f5;
    height: 100%;
    padding: 0px;
    overflow-y: scroll;
}

/****/
.left-lists::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.left-lists::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.left-lists::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: rgb(145, 145, 145);
}
.tasks-plane::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tasks-plane::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.tasks-plane::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: rgb(145, 145, 145);
}
/****/


.tasks-plane{
    height: 100%;
    padding-top: 10px;
    overflow-y: scroll;
}
li.active a{
    background-color: #647182;
    border-radius: 0;
    color: #FFFFFF;
}
li a{
    color:#647182;
}

li a:hover{
    background-color: #647182;
    color: #FFFFFF;
    border-radius: 0;
}
.add-list{
    position: relative;
    bottom: 0;
    width:100%;

}
.add-list li a{
    background-color: #ff9300;
    color: #FFFFFF;
    border-radius: 0;
}

.add-list li a:hover{
    background-color: #d67e06;
}

.input-group{
    width:100%;
    position: relative;
    bottom: 0;
    margin-top: 0px;


}
.form-control{
        background-color: #ebebeb;
}
.form-control:focus{
    box-shadow: none;
}
.input-group, .form-control{
    
    border: 0px;

}


.date-input{
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(199, 199, 199);
}
.delete-list{
    float:right;
}






.blue-title{
    color: #667785;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.border-left-tile{
    display: table;
    border-left: 2px solid #e6e6e6;
    
    height: 45px;
    color: #acacac;
    display: flex;
    align-items: center;
    
}
.search-in{
    padding-top: 5px; 
    width:70%;
    padding-bottom: 5px;
    padding-left: 10px;
}
.search-bar{
    height:30px;
    background-color: #FFFFFF;
    border: 1px solid #d3d3d3;
}
a.dropdown-toggle{
    color: #747474;

}
ul.dropdown{
    padding-top: 8px;

}

.dropdown-menu{
    opacity: 0.8;
}