<div class="row reg-container" >
    <div class="col-md-3 col-xs-0"></div>
          
            
           <div class="col-md-6 col-xs-12">
                                <div class="container-fluid" style="height:100%">
                                <!--start login paragraph -->
                                <form class="form-horizontal">
                                    <fieldset>
                                     <div class="reg-title">Registeration</div>
                                     
                                     <div class="form-group">
                                        <label  class="col-lg-2 control-label">First name</label>
                                        <div class="col-lg-10">
                                          <input type="text" class="form-control" id="inputfirstname" placeholder="First name">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label  class="col-lg-2 control-label">Last name</label>
                                          <div class="col-lg-10">
                                            <input type="text" class="form-control" id="inputlastname" placeholder="Last name">
                                          </div>
                                        </div>
                                      <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                        <div class="col-lg-10">
                                          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">Gender</label>
                                        <div class="col-lg-10">
                                          <div class="radio">
                                            <label>
                                              <input type="radio" name="optionsRadios" id="male" value="male" checked="">
                                              male
                                            </label>
                                          </div>
                                          <div class="radio">
                                            <label>
                                              <input type="radio" name="optionsRadios" id="female" value="female">
                                              female
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                          <div class="col-lg-10">
                                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  
                                          </div>
                                        </div>
                                      <div class="form-group">
                                          <label for="inputPassword" class="col-lg-2 control-label">Veify Password</label>
                                          <div class="col-lg-10">
                                            <input type="password" class="form-control" id="inputverPassword" placeholder="Veify Password">
  
                                          </div>
                                        </div>
                                      <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                          <button type="reset" class="btn btn-default">Cancel</button>
                                          <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </form>
                                  <!-- end login paragraph -->
                                </div>
                                <div style="text-align: center;">Already user? <a href="#">Login here</a></div>
          </div>
          <div class="col-md-3 col-xs-0"></div>
</div>