<div class="row forgotpassword-container" >
  <div class="col-md-3 col-xs-0"></div>
        
          
         <div class="col-md-6 col-xs-12">
                              <div class="container-fluid" style="height:100%">
                              <!--start form paragraph -->
                              <form class="form-horizontal" (ngSubmit)="form.valid && forgotPass()" #form="ngForm" novalidate>
                                  <fieldset>
                                   <div class="forgotpassword-title">Forgot Password</div>
                                   <div class="col-lg-2"></div>
                                   <div class="col-lg-10 subtitle">Enter your Details Here</div> 
                                    <div class="form-group" [class.has-error]="emailNgm.dirty && emailNgm.invalid">
                                      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                      <div class="col-lg-10">
                                        <div class="input-group">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                          <input type="text" class="form-control" name="email"  pattern="\w+@\w+\.\w+" [(ngModel)]="email" placeholder="Enter your Email" required #emailNgm='ngModel'  pTooltip="Enter your email" tooltipPosition="right" tooltipEvent="focus">
                                        </div>
                                        <div *ngIf="emailNgm.dirty && emailNgm.invalid" class="danger">* Required field email with format: user@web.com</div>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group" [class.has-error]="fnameNgm.dirty && fnameNgm.invalid">

                                      <label  class="col-lg-2 control-label" for="fname">First name</label>
                                      <div class="col-lg-10">
                                        <input type="text" class="form-control" name="fname" placeholder="First name" required [(ngModel)]="fname" #fnameNgm='ngModel'  pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus">
                                      <div *ngIf="fnameNgm.dirty && fnameNgm.invalid" class="danger">* Required field first name</div>
                                      </div>
                                    </div>
                                    <div class="form-group" [class.has-error]="lnameNgm.dirty && lnameNgm.invalid">
                                        <label  class="col-lg-2 control-label" for="lname">Last name</label>
                                        <div class="col-lg-10">
                                          <input type="text" class="form-control" name="lname" placeholder="Last name" required [(ngModel)]="lname" #lnameNgm='ngModel' pTooltip='Enter your lastname' tooltipPosition='right' tooltipEvent='focus'>
                                          <div *ngIf="lnameNgm.dirty && lnameNgm.invalid" class="danger">* Required field last name</div>
                                        </div>
                                      </div>


                                    <div class="form-group">
                                      <div class="col-lg-10 col-lg-offset-2">
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
                                      </div>
                                    </div>
                                  </fieldset>
                                </form>
                                <div class="alert alert-danger" *ngIf="err">
                                  <strong>{{err}}</strong>
                                </div>
                                <div class="alert alert-success" *ngIf="succ">
                                  <strong>{{succ}}</strong>
                                </div>
                                <!-- end form paragraph -->
                              </div>
                              <div style="text-align: center;border-bottom: 1px solid white;margin-bottom: 10px;"><a [routerLink]="['/login']">Login to your account</a></div>
                              <div style="text-align: center;">Don't have a user? <a [routerLink]="['/register']">Register here</a></div>
        </div>
        <div class="col-md-3 col-xs-0"></div>
</div>