.top-tile{
    background: #e6e6e6;
}
.blue-title{
    color: #667785;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.user-tile{
    color: #9c9c9c;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    align: right;
    padding-top: 5px;
}
.dropdown a{
    color: #9c9c9c;
}
.dropdown-menu{
   
}