


  <div class="row top-tile">
    <div class="container-fluid">

            <div class="col-md-2 col-xs-12 blue-title">
              <img src="../assets/logo.jpg">
              {{title}}
            </div>

            <div class="col-md-7">
              &nbsp;
            </div>

            <div class="user-tile col-md-1 col-xs-6" align="right">
                <img src="../assets/notfication-icon.png" >
            </div>

            <div class="user-tile col-md-2 col-xs-6"  align="right">
            User Name&nbsp;<img src="../assets/user-icon-anon.png">
            </div>
            
  </div>
  </div>

  <app-tasks-page></app-tasks-page>


  <app-pm-calendar></app-pm-calendar>