


  <div class="row top-tile">
    <div class="container-fluid">

            <div class="col-md-2 col-xs-12 blue-title" style="cursor: pointer" [routerLink]="['/']">
              <img src="../assets/logo.jpg" >
              {{title}}
            </div>

            <div class="col-md-7">
              &nbsp;
            </div>


            <div class="user-tile col-md-2 col-xs-6"  align="right" *ngIf="!hideTopBar">
                <ul class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      {{currentUser.firstname}}
                      <img src="../assets/user-icon-anon.png">
                    </a>
                    
                    <ul class="dropdown-menu" role="menu">
                      <li style="text-align:center">{{currentUser.lastname + ' ' + currentUser.firstname}}</li>
                      <li class="divider"></li>
                      <li><a [routerLink]="['/userdetails']">Manage your detailes</a></li>
                      <li class="divider"></li>
                      <li><a [routerLink]="['/login']">Log Out</a></ul>
                    </ul>
            
            </div>
            
  </div>
  </div>


   

 <router-outlet></router-outlet>

