.top-tile{
    background: #e6e6e6;
}
.blue-title{
    color: #667785;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}
.user-tile{
    border-left: 2px solid #f6f6f6;
    height: 50px;
}