


  <div class="row top-tile">
    <div class="container-fluid">

            <div class="col-md-2 col-xs-12 blue-title">
              <img src="../assets/logo.jpg">
              {{title}}
            </div>

            <div class="col-md-7">
              &nbsp;
            </div>

            <div class="user-tile col-md-1 col-xs-6" align="right">
                

                <ul class="dropdown">
                    <img class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" src="../assets/notfication-icon.png" > 
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></ul>
                    </ul>

            </div>

            <div class="user-tile col-md-2 col-xs-6"  align="right">
                <ul class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Name&nbsp;<img src="../assets/user-icon-anon.png"></a>
                    
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></ul>
                    </ul>
            
            </div>
            
  </div>
  </div>


   


   <!-- <app-tasks-page></app-tasks-page> -->
 <router-outlet></router-outlet>

 <!-- <app-pm-register></app-pm-register>
    <app-pm-login></app-pm-login> 
  <app-forgot-password></app-forgot-password>-->
 <!--  <app-pm-calendar></app-pm-calendar> -->